body {
    background-color: rgb(57, 57, 57);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    color: white;
}

article a {
    text-decoration: underline;
    text-decoration-color: rgb(163, 162, 162);
    margin: 0;
}

main {
    display: grid;
    
    margin-right: 1rem;
    margin-left: 1rem;
    justify-items: center;
}

h1 {
    margin-left: 1rem;
}

h2 {
    margin-left: 1rem;
}
    


a {
    color: white;
    text-decoration: none;
    padding: 3%;
}

nav {
    display: flex;
    justify-content: center;
    
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1 span {
    display: inline-block;
    transform: scaleX(-1);
    color: rgb(228, 148, 0);
}

article {
    min-width: 200px;
  max-width: 60%;
    margin-bottom: 2rem;
}

.soldout img {
    opacity: 30%;
}
    

.availability {
    font-weight: bold;
}

.discounted p:last-child {
    background: red;
    padding:0.3rem
    
}

.discounted {
    display: flex;
    justify-content: space-between;
    
}




@media only screen and (min-width:600px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap:1rem;
        margin-right: 1rem;
        margin-left: 1rem;
    }

    h1 {
        font-size: 3rem;
        margin-bottom: 0%;
    }

    h2 {
        margin-left: 2rem;
        margin-bottom: 3rem;
    }

    


    

}